{% extends 'base.html' %}
{% block container %}

    <h1 class="display-5 mt-4">Летим из<span data-test="from">
    {% for key, value in dic_sec.items %}
        {% if key == departure_main %}
            {{ value }}
        {% endif %}
    {% endfor %}
        </span></h1>
    <p class="mb-4" >Найдено <span data-test="tourcount">{{ all_depart.amount }}</span> туров, от <span data-test="pricemin">{{ all_depart.price_min }}</span> до
        <span data-test="pricemax">{{ all_depart.price_max }}</span> и от <span data-test="nightsmax">{{ all_depart.night_min }}</span> ночей до <span data-test="nightsmax">{{ all_depart.night_max }}</span> ночей</p>
    <!-- HERO -->
    <div class="row mt-5" data-test="cards">
        {% for key, value in tour.items %}
            {% for k1, v1 in value.items %}
                {% if departure_main == v1 %}
                    <div class="col-4" data-test="card">
                        <div class="card mb-3" >
                        <img src="{{ value.picture }}" class="card-img-top img-fluid" data-test="picture">
                        <div class="card-body">
                          <h5 class="card-title">{{ value.title }}</h5>
                          <p class="card-text">{{ value.description }}</p>
                          <a href="/tour/{{ key }}/" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
                        </div>
                    </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}
